*{
    box-sizing: border-box;
    padding: 0;
    border:none;
    margin:0;
    list-style: none;
    text-decoration: none; 
}
header{
        background-color: #eac926;
       
   }


header ul {
    display: none;
    width: fit-content;
    margin: 1rem;
   }  

button{
    background-color:white;
    position: relative;
    right:20px;
    
    
}

header ul li a{ 
    text-decoration: none;
    color: unset;
    margin: .8rem;  
}

header div{
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none; 
    
}


header input{
    border:white solid 10px;
    border-radius: 5px;
    width: 46vw;
}   


.fa-bars {
    display: flex;
    justify-content: center;
    background-color: #1259c3;
    color: #ebebeb;
    border:#1259c3 solid 11px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: large;   
   
}


.fa-magnifying-glass{
    background-color:white;
    color: #666;
}
#mercado{
    display: flex;  
    width: 40vw;
    position: relative;
    top:10vw;
    left:5vw;
}

.searchbar{
    max-width: fit-content;
    display: flex;
    position: relative;
    left: 48vw;

    
}
#sub{
    
        margin-bottom: 20px;
        margin-top: 35px;
        font-weight: 200;
        text-align: center;
        font-size: .8rem;
     
}

@media screen and (min-width: 768px){
    
        #seccion{
        display: flex;
        direction: row;
        justify-content: space-between;
        }

        header ul{
            display: flex;
            margin-bottom: 10px;
        }
        
        
        header div{
            display: none;

        }
        
        
        #mercado{
            display: flex;  
            width:30vw;
            position: relative;
            top:5vw;
            left: 2.5vw;;
        }
        .searchbar{
            max-width: fit-content;
            display: flex;
            position: relative;
            left: 40vw;
            
        }
        header input{
            border:unset;
            border-radius: unset;
            width: 20vw;
            box-shadow: 0px 0px 2px rgb(100, 100, 100);
        } 

        button{
            background-color:#ebebeb;
            left: 0.2rem;
            top: 0.1rem;
            border: solid 1px black;
            border-radius: 15%;
        }

        .fa-magnifying-glass{
            background-color:#ebebeb;
            display: flex;
            color: unset;
            font-size: .9rem;
        }

        
        #sub{
            width: fit-content;
            display: flex;  
                   
            font-weight: 200;
            font-size: 0.45rem;
            position: relative;
            bottom: 3rem;
            left: 70vw;
        }

     } 
    

@media screen and (min-width: 1024px){
    #seccion{
        display: flex;
        direction: row;
        justify-content: space-between;
        }
        
        header ul{
            display: flex;
            margin-bottom: 14px;
        }
        
        
        header div{
            display: none;

        }
        #mercado{
            display: flex;  
            width:25vw;
            position: relative;
            top:4vw;
            left: 2.5vw;
            flex-shrink: inherit;
        }
                 
        .searchbar{
            max-width: fit-content;
            display: flex;
            position: relative;
            left: 35vw;
            
        }
        header input{
            border:unset;
            border-radius: unset;
            width: 24vw;
            box-shadow: 0px 0px 2px rgb(100, 100, 100);
        } 

        button{
            background-color:#ebebeb;
            left: 0.2rem;
            top: 0.1rem;
            border: solid 1px black;
            border-radius: 15%;
        }
        .fa-magnifying-glass{
            background-color:#ebebeb;
            display: flex;
            color: unset;
            font-size: .9rem;
        }

        
        #sub{
            width: fit-content;
            display: flex;         
            font-weight: 200;
            font-size: 0.45rem;
            position: relative;
            bottom: 3rem;
            left: 70vw;
        }



    
}