@import url(header.css);
@import url(footer.css);



body {font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
} 
main input{
    margin: 1.8rem 1rem;
    width: 89vw;
    border: solid white .5rem;
    border-radius: .2rem;
    position: relative;
}
main form{
    position: relative;
    text-align: center;
}
.boton{
    color: white;
    border: #1259c3 .6rem solid;
    background: #1259c3;
    
}
.boton:focus{
    background: #0022AA;
    border: #0022AA .6rem solid;
    
}

@media screen and (min-width: 768px){
   
    .boton{
        color: white;
        border: #1259c3 .6rem solid;
        background: #1259c3;
        
        
        
    }
}
@media screen and (min-width: 1024px){
   
    .boton{
        color: white;
        border: #1259c3 .6rem solid;
        background: #1259c3;
        
        
    }
}