*{
    box-sizing: border-box;
    padding: 0;
    border:none;
    margin:0;
    list-style: none;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: start;
    
}



main section ul {
   
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section ul li{
    background-color: white;
    display: block; 
    margin-bottom: 0.80rem;
    padding: 0.90rem;
    width: 80vw;
    flex-basis: content;
}

main p{
    visibility: hidden;
}
   
main section article{
    background-color: white;
    border-top: 1px solid #ebebeb;
    position: relative;
}
main section ul :hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    }
main section ul li :hover{
    box-shadow: unset;
    
}
main section li:hover p{
    visibility: visible;
}
main section article i {
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right: 20px ;
    top: -10px ;
    }

.precios{
    font-size: 1.125rem;
}
.descuentos{
    color: #39b54a;
    font-size: 1rem;
}
.productos{
    display: none;
    font-size: 1rem;
}
.imagenes{
        width: 71vw;
        
      }

.banner{
    width: 97vw;
}

.fa-truck{
    color: #39b54a;
}

main div :hover{
    transition-duration: 1s;
    transform: rotate(-90deg);
}
@media screen and (min-width: 768px){
    main section ul li{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 1.5rem;
        padding: 0.905rem;
        width: 40vw;
        flex-basis: content;
        
    }

    .productos{
        display: contents;
        font-size: 1rem;
    }
    main section{
        background-color: unset;
    }
    .imagenes{
        width: 36.25vw;
        
      }
      
    
}

@media screen and (min-width: 1024px){
    main section ul li{        
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 1.5rem;
        padding: 0.9375rem;
        width: 20vw;
        flex-basis: content;
    }
    .productos{
        display: contents;
        font-size: 1rem;
    }
    main section{
        background-color: unset;
    }
    .imagenes{
        width: 18.175vw;
        
      }
    
}


