<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <picture >
            <a title="Home Page"href="/"><img id="mercado"src='/img/logo-mercado-liebre.svg' alt="Logo"></a>
        </picture> 
        <section class="searchbar">
           <nav>    
              <form action="/" method="get">
                <input type="text" name="search" placeholder="Buscar productos,marcas" id="search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
        
           </nav>
        </section>
        <section id="sub">
            <h2><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </section>

        <section id="seccion">
            <nav>
               <ul id="primero">
                    <li><a title="#" href="#">Ofertas</a> </li>
                    <li><a title="#" href="#">Tiendas Oficiales</a></li>
                    <li><a title="#" href="#">Vender</a></li>
                    <li><a title="#" href="#">Ayuda</a></li>
                </ul> 
            </nav>

            <nav>
                <ul id="segundo">
                    <li><a title="#" href="register.html">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a title="#" href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a title="#" href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </section>
        <nav>
           <a title="#" href="#">
                              <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                    </div>  
            </a> 
        </nav>
        
    </header>

    <main>
        
            <nav>    
               <form action="/" method="post">
                <input class ="texto type="text" name="usuario" placeholder="Nombre de Usuario" id="usuario">
                <input class ="texto "type="password" name="password" placeholder="Contraseña" id="password"required>
                <input class="boton" type="submit" name="enviar" value="Enviar">
               </form>
         
            </nav>
    </main>

    <footer>
        <section>
            <div><i class="fa-solid fa-credit-card"></i></i></div>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <article>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                
            </article>
            </section>
        <section>
            <div ><i class="fa-solid fa-gifts"></i></div>
            <h2>Envío gratis desde $ 2.500</h2>
            <article>
                   <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </section>
        <section>
            <div ><i class="fa-solid fa-user-shield"></i></i></div>
            <h2>Seguridad, de principio a fin</h2>
            <article>
                   <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <article>
              <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
       
    </footer>
</body>
</html>